<ion-view view-title="Home">
  <ion-content>
    <div class="padding text-center">
      <div class="list">

		  <label class="item item-input">
		    <input [ngModel]="origin1" type="text" placeholder="Origin" id="origin" ng-init="home.autocompleteLoad('origin')">
		  </label>
		  <label class="item item-input">
		    <input [ngModel]="post.destination" type="text" placeholder="Destination" id="destination"
		  		ng-init="home.autocompleteLoad('destination')">
		  </label>
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Day
		    </div>
		    <select [ngModel]="post.day">
		      <option selected value="today">Today</option>
		      <option value="tomorrow">Tomorrow</option>
		    </select>
		  </label>
		  <label class="item item-input item-select">
		    <div class="input-label">
		      Hour
		    </div>
		    <select [ngModel]="post.hour"  *ngFor="let one of something">
		      	<option value="15">15</option>
		      	<option value="16">16</option>
		    </select>
		  </label>
		  <a class="button" ng-click="home.addPost()">
  			Submit
		</a>
		</div>
    </div>
  </ion-content>
</ion-view>
